body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.quiz-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 40px;
    max-width: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.timer {
    font-size: 24px;
    color: #f44336;
    margin-bottom: 20px;
}

.question {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.option-btn {
    padding: 12px 24px;
    margin: 5px 20px;
    font-size: 18px;
    background-color: #af8e4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.option-btn:hover {
    background-color: #45a049;
}

.correct {
    background-color: #4CAF50;
}

.wrong {
    background-color: #f44336;
}

.feedback {
    font-size: 18px;
    margin-top: 20px;
}

.next-btn {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 18px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.next-btn:hover {
    background-color: #005f6b;
}

.fade-in {
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
